  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');

* {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #9F9D9D;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, rgba(15, 73, 52, 0.9557072829131653) 0%, rgba(131, 200, 58, 0.8884803921568627) 100%), url(../images/bg.jpg) no-repeat;
}

.background-image {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  /* Ensure the image covers the entire container */
  z-index: -1;
  /* Push the image to the back */
}

.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 1080px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin: 20px;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header2 {
  padding: 1.25rem 1rem 1rem 1rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}

.title {
  color: #066e29;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;

}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.75rem 1rem;
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

.card_notification {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  isolation: isolate;
  position: relative;
  width: 100%;
  max-width: 75%;
  height: 10rem;
  background: #f0ecf1;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #f0ecf1;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #1e1f22;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

button,
.start_survey {
  margin-top: 10px;
  margin-left: 35%;
  padding: 10px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
  z-index: 2;
  cursor: pointer;
}

button:hover,
.start_survey:hover {
  letter-spacing: 3px;
  background-color: hsl(160, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(24, 220, 155) 0px 7px 29px 0px;
  z-index: 2;
}

button:active,
.start_survey:active {
  letter-spacing: 3px;
  background-color: hsl(160, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(24, 220, 155) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

@media (max-width: 768px) {

  .card {
    width: 90%;
    height: auto;
  }

  button,
  .start_survey {
    margin-left: 35%;
    padding: 8px 32px;
  }
}

@media (max-width: 560px) {
  button,
  .start_survey {
    padding: 6px 24px;
  }

  .notibody {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {

  .card {
    width: 95%;
  }

  button,
  .start_survey {
    margin-left: 30%;
    padding: 5px 20px;
  }

}

/* Define styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Define styles for the responsive container */
.table-responsive {
  overflow-x: auto;
}

.survey_action {
  margin-left: 0;
}

.new_survey {
  background-color: #56a8ff;
  color: white;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  table {
    font-size: 14px;
    /* Decrease font size for smaller screens */
  }

  th,
  td {
    padding: 6px;
    width: 25%;
    /* Decrease cell padding for smaller screens */
  }

  td div {
    text-align: center;
  }
}