@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body{
    background-color: #E9EEF2;
}

.container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
}

.post-header{
    width: 100%;
    margin-top: -20px;
}

.post-container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-home{
    color: #fd8f44;
    font-size: 2rem;
}

#page-header{
    background-image: linear-gradient(180deg, rgba(0,165,111,0.6) 0%, rgba(2,25,19,0.865983893557423) 100%), url("/public/images/bg.jpg");
    max-width: 100%;
    height: 20vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;;
    margin-top: -2%;
    color: #fff;
  }
  
  #page-header h2{
    font-size: 32px;
  }
  
  .svg1 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -5%;
    left: 30%;
    width: 70%;
    height: 70%;
    z-index: -1;
  }
  
  .svg2 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40%;
    left: 0%;
    width: 70%;
    height: 70%;
    z-index: -2;
  }

