@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
:root{
    --primaryColor:#4c50d3;
    --secondaryColor: #ffce00;
    --fontColor: #1e1e1e;
    --whiteColor: #fff;
    --greyColor: #e7e7e7;
    --darkGreyColor:#5f5f5f;
    --softPurple: #e7e8ff;
    --softBlue: #c3e1ff;
    --softYellow: #fff5cc;
    --softRed: #ffcbc8;
}

*{
   font-family: 'Exo 2', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}  

.main-5{
    width: calc(100% - 15% - 16%);
    min-height: 100%;
    min-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    background-color: #E9EEF2;
    z-index: 1;
}

.main-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-wrapper{
    margin: 1rem 0;
    font-size: 14px;
}

.filter{
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.btn-filter{
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color:#fdd231;
    cursor: pointer;
    color: #1e1e1e;
}

.btn-filter:hover{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 3%;
    margin: 0 1%;
    background-color: var(--whiteColor);
    line-height: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-left{
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img{
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 1rem;
}

.card-center{
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-detail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-loc, .card-sub{
    font-size: 13px;
    color: var(--darkGreyColor);
}

.card-sub{
    display: flex;
    flex-wrap: wrap;
}

.card-sub p{
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}

.card-salary{
    padding: 0.5rem 0;
    color: var(--primaryColor);
}

.card-salary span{
    color: var(--fontColor);
}

.blue-bg{
    background-color: var(--softBlue);
}

.yellow-bg{
    background-color: var(--softYellow);
}

.red-bg{
    background-color: var(--softRed);
}

.purple-bg{
    background-color: var(--softPurple);
}

.detail{
    width: 25%;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: 0;
    background-color: var(--whiteColor);
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 5%;
}

.close-detail{
    display: none;
}

.detail-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-header img{
    width: 50px;
    height: 50px;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: var(--greyColor);
    border: none;
    margin: 1rem 0;
}

.detail-desc{
    line-height: 1.5;
}

.about a{
    margin: 0.5rem 0 0 0;
    color: var(--primaryColor);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.detail-btn{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.btn-apply{
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-save{
    background-color: var(--secondaryColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-apply:hover{
    border: 1px solid var(--primaryColor);
    background-color: transparent;
    color: var(--primaryColor);
}

.btn-save:hover{
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
}

.sidebar.active{
    display: flex;
    width: 220px;
    z-index: 100;
}

@media screen and (max-width:1024px){
    .main-5{
        width: 100%;
        margin-left: 0%;  
    }
}

@media screen and (max-width:880px){
    .main-5{
        width: 100%;
        margin-left: 0%;
    }

    .detail{
        width: 40%;
    }
}

@media screen and (max-width:1920px){
    .main-5{
        width: 100%;
        padding: 5%;
    }

    .detail{
        display: none;
    }

    .detail.active{
        display: block;
        width: 100%;
        z-index: 100;
    }

    .detail.active .close-detail{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width:480px){
    .card-loc, .card-sub, .card-tag{
        display: none;
    }

    .main-5{
        width: 100%;
        margin-left: 0%;
        padding-top: 18%;
    }
}
