@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
*{
   font-family: 'Exo 2', sans-serif;
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
   text-decoration: none;
   color: #E9EEF2;
}

body{
  background: linear-gradient(90deg, rgba(35, 217, 222, 0.5522584033613445) 0%, rgba(8, 116, 215, 0.55) 100%), url("/public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }

 .header{
   background: linear-gradient(180deg, #157424 0%, rgba(217, 217, 217, 0.00) 100%);
   height: 300px;
   position: absolute;
   top:0; 
   left:0; 
   right:0;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 24px;
   margin: 0 auto;
   max-width: 1300px;
   position: relative;
}

.header .flex .logo{
   width: 100px;
   height: 100px;
}
.header .flex .logoname{
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   justify-content: center;
   flex-shrink: 0;
   color: #FAFAFA;
   text-align: left;
   text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   font-size: 36px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: uppercase;
}

.header .flex .navbar a{
   margin:0 24px;
   font-size: 32px;
   color: #fafafa;
   text-decoration: none;
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color: #f79b2e;
}

.header .flex .icons > *{
   font-size: 36px;
   color: #fafafa;
   cursor: pointer;
   margin-left: 16px;
}

.header .flex .icons > *:hover{
   color: #f79b2e;
}

.header .flex .icons a span,
.header .flex .icons a i{
   color:  #f6c35d;
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i{
   color: #91cde2;
}

.header .flex .icons a span{
   font-size: 16px;
}

#menu-btn,
#times-btn{
   display: none;
}

#page-header {
    background-image: linear-gradient(180deg, rgba(0,165,111,0.6) 0%, rgba(2,25,19,0.865983893557423) 100%), url("/public/images/bg.jpg");
    max-width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    margin-top: -2%;
}

.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
  }

  .header-home{
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
  }

  .header-home h1{
    color: #666;
    display: flex;
    font-size: 36px;
    align-items: center;
    padding-left: 20px;
    max-width: 100%;
    font-style: italic;
  }

  .header-home2{
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 20px;
  }

  .header-home2 h1{
    color: #666;
    display: flex;
    font-size: 36px;
    align-items: center;
    padding-left: 20px;
    max-width: 100%;
    font-style: italic;
  }

  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }

  .row{
    padding: 50px;
    padding-top: 5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 820px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

   @media screen and (max-width: 414px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 5%;
    }
  }

  .news{
    max-width: 100%;
    height: auto;
    display: block; /* Change to block to prevent alignment issues */
    margin: 0 auto; /* Center the image horizontally if needed */
  }

  .calendar{
    max-width: 100%;
    height: auto;
    display: block; /* Change to block to prevent alignment issues */
    left: 20px;
  }

  .job{
    max-width: 100%;
    height: auto;
    display: block; /* Change to block to prevent alignment issues */
    left: 20px;
    flex-shrink: 0;
  }


  .card_0 p {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #666;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
  }

  .card_0 h1{
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
    color: #666;
    display: flex;
    justify-content: flex-end;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 4px;
  }

  .card_0 h2{
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: #666;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-bottom: 4px;
  }
  
  .card_0 h6{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #666;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-bottom: 12px;
  }

  .card p.small {
    font-size: 18px;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #6BBD99;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: rgb(255, 255, 255);
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }
  
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -32px;
    right: -16px;
    background: #6BBD99;
    height: 32px;
    width: 110px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p{
    transition: all 0.3s ease-out;
    color: #ffffff;
  }

  .card1:hover h1{
    transition: all 0.3s ease-out;
    color: #ffffff;
  }

  .card1:hover h2{
    transition: all 0.3s ease-out;
    color: #ffffff;
  }

  .card1:hover h6{
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
  
  .card1:hover h3{
    transition: all 0.3s ease-out;
    color: #fff;
  }
  
  .card2 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card2:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .card2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #6BBD99;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }
  
  .card2:hover:before {
    transform: scale(2.15);
  }
  
  .card3 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
  }
  
  .card3 .go-corner {
    opacity: 0.7;
  }
  
  .card3:hover {
    border: 1px solid #6BBD99;
    box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
    z-index: 500;
  }
  
  .card3:hover p {
    color: #00838d;
  }
  
  .card3:hover .go-corner {
    transition: opactiy 0.3s linear;
    opacity: 1;
  }
  
  .card4 {
    display: block;
    top: 0px;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  
  .card4 .go-corner {
    background-color: #6BBD99;
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
  }
  
  .card4 .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
  }
  
  .card4:hover {
    border: 1px solid #cd3d73;
  }
  
  .card4 h3 {
    margin-top: 8px;
  }
  
  .card4:hover .go-corner {
    margin-right: -12px;
  }
  
  .card4:hover .go-arrow {
    opacity: 1;
  }

  .cards {
    max-width: 400px;
    border-radius: 0.5rem;
    background-color: #46A094;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin-bottom: 1rem;
  }
  
  .cards a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image img{
    object-fit: cover;
    width: 100%;
    height: auto;

  }
  
  .title {
    color: #E9EEF2;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #E9EEF2;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #212121;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #C4E8C2;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
    color: #212121;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }

  .cookieCard {
    max-width: 400px;
    height: 200px;
    background: linear-gradient(to right,rgb(62, 150, 138),rgb(103, 199, 158));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  
  .cookieCard::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(70, 160, 148),rgb(107, 189, 153));
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
  .cookieHeading {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
  .cookieDescription {
    font-size: 0.9em;
    color: rgb(241, 241, 241);
    z-index: 2;
    margin-top: -20px;
  }
  
  .cookieDescription a {
    color: rgb(241, 241, 241);
  }
  
  .acceptButton {
    padding: 11px 20px;
    background-color: #f7b646;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
  }
  
  .acceptButton:hover {
    background-color: #F6923C;
    transition-duration: .2s;
  }

  @media(max-width:1500px){
    .header-home h1{
      font-size: 34px;
    }
  }

  @media(max-width:1280px){
    .header-home h1{
      font-size: 36px;
    }

    .header-home2 h1{
      font-size: 32px;
    }
  }

  @media(max-width:1024px){ 

    .calendar{
      max-width: 50%;
    }

    .header-home h1{
      font-size: 32px;
    }

    .job{
      max-width: 50%;
      max-height: 50%;
    }

    .header-home2 h1{
      font-size: 28px;
    }

    .cookieCard:before{
      z-index: -1;
    }
    #page-header{
      margin-top: 0%;
    }
  }

  @media(max-width:800px){
    .cookieCard{
      max-width: 100%;
    }
    
    .cookieCard:before{
      z-index: 1;
      right: -10%;
    }

    .cards{
      max-width: 100%;
    }

    .card_0 h1{
      justify-content: flex-start;
    }
  }

  @media(max-width:414px){
    .card_0 h1{
      padding-left: 10px;
      font-size: 28px;
    }

    .card_0 h2{
      padding-left: 10px;
      font-size: 20px;
    }

    .card_0 h6{
      padding-left: 10px;
    }

    .card_0 p{
      padding-left: 10px;
    }

    .card1:before{
      height: 50px;
    }
    .row{
      padding: 0;
      padding-left: 0%;
    }
  }

  @media (max-width:1171px){

   #menu-btn
   {
      display: inline-block;
   }  

   .header .flex .navbar
   {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-start;
      background-color: #120b0b5e;
      position: absolute;
      top:99%; left:0; right:0;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      z-index: 200;
   }

   .header .flex .navbar.active
   {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a
   {
      display: block;
      margin:2rem;   
   }
}

footer{
   position: relative;
   width: 100%;
   height: auto;
   padding: 50px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
}

footer .container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
}

footer .container .sec{
   margin-right: 30px;
}

footer .container .sec.aboutus{
   width: 40%;
}

footer .container h2{
   position: relative;
   color: #252525;
   font-weight: 500;
   margin-bottom: 15px;
}

footer .container h2:before{
   content: '';
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 50px;
   height: 2px;
   background: #46A094;
}

footer p{
   color: #252525;
}

.sci{
   margin-top: 20px;
   display: flex;
   padding-left: 0;
}

.sci li{
   list-style: none;
}

.sci li a{
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #46A094;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   text-decoration: none;
   border-radius: 4px;
}

.sci li a:hover{
   background: #f79b2e;
}

.sci li a .fa{
   font-size: 20px;
}

.quicklinks{
   position: relative;
   width: 25%;
}

.quicklinks ul{
   padding-left: 0;
}

.quicklinks ul li{
   list-style: none;
}

.quicklinks ul li a{
   color: #252525;
   text-decoration: none;
   margin-bottom: 10px;
   display: inline-block;
}

.quicklinks ul li a:hover{
   color: #f79b2e;
}

.contact{
   width: calc(35% - 60px);
   margin-right: 0 !important;
}

.contact .info{
   position: relative;
   padding-left: 0;
}

.contact .info li{
   display: flex;
   margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
   color: #252525;
   font-size: 20px;
   margin-right: 10px;
}

.contact .info li span{
   color: #252525;
}

.contact .info li span i{
   color: #46A094;
}

.contact .info li a{
   color: #252525;
   text-decoration: none;
}

.contact .info li span a i{
   color: #999;
   text-decoration: none;
}

.contact .info li a:hover{
   color: #f79b2e;
}

.copyrightText{
   width: 100%;
   background: #46A094;
   padding: 8px 100px;
   text-align: center;
}

/* RESPONSIVE CODES */

@media (max-width:991px){
   footer{
      padding: 40px;
   }
   footer .container{
      flex-direction: column;
   }
   footer .container .sec{
      margin-right: 0;
      margin-bottom: 40px;
   }
   footer .container .sec.aboutus,
   .quicklinks,
   .contact{
      width: 100%;
   }
   .copyrightText{
      padding: 8px 40px;
   }
}

.filterable_cards{
  display: flex;
  margin-top: 25px;
  gap: 30px;
  flex-wrap: wrap;
}

.card11{
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #FFFFFF;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.card11.hide{
  display: none;
}

.card11 img{
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card11_body{
  padding: 15px 20px 20px;
}

.card11_title{
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.card11_text{
  font-size:18px;
  color: #333;
}
.post-header{
  width: 100%;
  height: 500px;
  background: #30a05c;
}

.post-container{
  max-width: 800px;
  margin: auto;
  width: 100%;
}

.container1{
  position: relative;
  max-width: 1250px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.svg1 {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -5%;
  left: 30%;
  width: 70%;
  height: 70%;
  z-index: -1;
}

.svg2 {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 40%;
  left: 0%;
  width: 70%;
  height: 70%;
  z-index: -2;
}