@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    color: #9F9D9D;
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #83C83A 0%, #0F4934 100%);
}

.wrapper{
  max-width: 480px;
  width: 100%;
  background: #fff;
  padding: 35px 40px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.wrapper .input-box{
  position: relative;
  height: 60px;
  margin: 25px 0;
}

.input-box input{
  height: 100%;
  width: 100%;
  background: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border-radius: 6px;
  padding: 0 40px 0 16px;
  border: 2px solid #a6a6a6;
  transition: all 0.3s ease;
}

.input-box input:focus{
  border-color: #4070f4;

}

.input-box label,
.input-box i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #a6a6a6;
}

.input-box label{
  left: 15px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 6px;
  background: #fff;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: 0;
  color: #4070f4;
  font-size: 14px;
}

.input-box i{
  right: 15px;
  padding: 8px;
  cursor: pointer;
}

.alert{
  display: flex;
  align-items: center;
  margin-top: -13px;
}

.alert .errorIcon{
  margin-right: 8px;
  color: #d93025;
  font-size: 18px;
  display: none;
}

.alert .text{
  color: #a6a6a6;
  font-size: 18px;
  font-weight: 500;
}

.input-box.button #button{
  background: #4070f4;
  border: none;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  cursor: not-allowed;
}

.input-box.button #button:hover{
  background: #265df2;
}

